- @questions.each do |question|
  .container-fluid
    %h3
      = link_to question.question, question
    %p
      asked by
      = question.user.full_name
    %p
      = question.score
      points,
      = question.answers.count
      answers
    = render "votes/vote_buttons", content: question
