.col-md-8
  %h4
    %span Topics:

  = render "questions/topics_list", question: @question

  = render "questions/topic_search_form", question: @question

  %h3
    = @question.question
  %p
    = simple_format @question.description
  %p
    asked by
    = @question.user.full_name
  = render "votes/vote_buttons", content: @question
  - if @question.user == current_user
    = link_to "Edit question", edit_question_url(@question)
  - unless @question.answers.where(user_id: current_user.id).exists?
    = render "answers/new", question: @question, answer: Answer.new
  - else
    %h3 Your answer
    = render "answers/answer", answer: @question.answers.where(user_id: current_user.id).first
  %h3
    = @question.answers.where.not(user_id: current_user.id).count
    Answers
  - @question.answers.where.not(user_id: current_user.id).each do |answer|
    = render "answers/answer", answer: answer
.col-md-4
  .related-questions
    %h4 Related Questions
    %hr
    - Question.topic(@question.topics.pluck(:id)).limit(20).each do |question|
      .related-question
        = link_to question.question, question
