.col-md-8
  %h3
    = @question.question
  %p
    = simple_format @question.description
  %p
    asked by
    = @question.user.full_name
  = render "votes/vote_buttons", content: @question
  - if @question.user == current_user
    = link_to "Edit question", edit_question_url(@question)

  - unless @question.answers.where(user_id: current_user.id).exists?
    = render "answers/new", question: @question, answer: Answer.new
  - else
    %p Question already answered

  - @question.answers.each do |answer|
    %div(style="padding-top:2em")
      %h4
        = answer.user.full_name
      .text
        = simple_format answer.answer
      .forms
        - if answer.user == current_user
          = render "answers/edit", answer: answer
        = render "comments/new_form", answer: answer
      .buttons
        = render "votes/vote_buttons", content: answer
        %button.btn.btn-default.show-new-form Comment
        - if answer.user == current_user
          %button.btn.btn-default.show-edit-form Edit
          = link_to "Delete", answer, method: :delete, class: "btn btn-default", data: { confirm: "Are you sure?" }
      %div
        - answer.comments.each do |comment|
          - if comment.parent.nil?
            = render "comments/chain", comment: comment
.col-md-4
  TODO
